<div class="hero-unit">
	<h1> Welcome to Beta Home Page dude!</h1>
	<p>
		A small step for a man, but a huge step for humanity!
	<%= link_to "One Month Rails","http://onemonthrails.com" %> application

	</p>
	<p>
		sign up 
		<%= link_to "Here dude!","#", class: "btn btn-primary btn-large"  %> 

	</p>
</div>